defaults: &defaults
  working_directory: /home/ubuntu/

setup:
  - &prepare
    run:
      name: Prepare environment
      command: |
        apt-get update
        apt-get install -y lua5.1 luarocks
        pip install flake8 flake8-docstrings flake8-polyfill pep8 pep8-naming isort==5.5.4
        pip install --no-deps -r requirements.txt
        pip install -r requirements_test.txt
        luarocks install luacheck
  - &lint
    run:
      name: Run flake8
      command: |
        flake8
        isort -rc -c .
        luacheck --max-cyclomatic-complexity 11 --globals redis ARGV KEYS -r limitlion

version: 2
jobs:
  python27:
    <<: *defaults
    docker:
      - image: python:2.7
      - image: redis:3.2
    steps:
      - checkout
      - *prepare
      - *lint
      - run:
          name: Setup Code Climate
          command: |
            apt-get update
            apt-get install -y curl git
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Run tests
          command: |
            ./cc-test-reporter before-build
            PYTHONPATH=. pytest --cov=limitlion --cov-report=xml
            ./cc-test-reporter after-build --coverage-input-type coverage.py --exit-code $?

  python35:
    <<: *defaults
    docker:
      - image: python:3.5
      - image: redis:3.2
    steps:
      - checkout
      - *prepare
      - *lint
      - run:
          name: Run tests
          command: |
            PYTHONPATH=. pytest

  python36:
    <<: *defaults
    docker:
      - image: python:3.6
      - image: redis:3.2
    steps:
      - checkout
      - *prepare
      - *lint
      - run:
          name: Run tests
          command: |
            PYTHONPATH=. pytest

  python37:
    <<: *defaults
    docker:
      - image: python:3.7
      - image: redis:3.2
    steps:
      - checkout
      - *prepare
      - *lint
      - run:
          name: Run tests
          command: |
            PYTHONPATH=. pytest

workflows:
  version: 2
  workflow:
    jobs:
      - python27
      - python35
      - python36
      - python37
